{% assign active = page.url | downcase | split: '/' %}
<div id="header">
	<section id="pagetop">
		<p id="siteinfo">
			<!-- Server status -->
			<span id="status">Loading server status...</span>
			<script>
			function getServerStatus() {
				const statusText = document.getElementById('status');
				MinecraftAPI.getServerStatus('play.tfreedom.org', function (error, server) {  
					if (error) {
						statusText.innerHTML = 'Unable to obtain server status.';
						return;
					}
					statusText.innerHTML = 'The server is currently ' + (server.online ? '<font color=\'green\'>online</font>' : '<font color=\'red\'>offline</font>');
					if (server.online && server.players.now) statusText.innerHTML += ' with ' + parseInt(server.players.now) + ' player' + (server.players.now > 1 ? 's' : '');
					statusText.innerHTML += '!';
				});
			};
			getServerStatus();
			</script>
		</p>
		<nav id="sitenav"><ul>
			<li {% if active[1] = null %}class='current'{% endif %}><a href="/">Homepage</a></li>
			<li {% if active[1] == 'rules' %}class='current'{% endif %}><a href="/rules">Conduct Policy</a></li>
		</ul></nav>	
	</section>
</div>
