<section id="sidebar">
	<div id="sidebarwrap">
		<div id="aboutadmins">
			<h2>About Administrators</h2>
			<p>There are two types of admins, "Super Admins" and "Senior Admins".
				Super Admins have the ability to op themselves (or everyone), mute, kick, freeze, smite and ban.
				Senior Admins can stop, start, backup, clean and restore the server.
				They have access to all Super Admin commands and have the ability to use console commands aswell.
				You should listen to admins when they ask you too.
				<a href="index.html#admininfo">Read More</a>
			</p>
		</div>
	</div>
</section>
